.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='#') Guest Paging System
			.nav-collapse
				ul.nav
					li.active
						a(href='#') Home
					li
						a(href='#about') About
					li
						a(href='#contact') Contact
.container
	section#guestsGrid
			.page-header
				h1 Guests
				p 
					a.btn(href="/guests/new") Add Guest »
				table.table.table-bordered.table-striped
					thead
						tr
							th 
							th Name
							th Description
							th Number
					tbody
						each guest in guests
							tr
								td 
									a.btn(href="/guests/#{guest.id}/page") Page
									a.btn(href="/guests/#{guest.id}/edit") Edit
									a.btn(href="/guests/#{guest.id}/delete") Remove
								td= guest.name
								td= guest.description
								td= guest.mobileNumber
	include footer
